@use "./../../common/variables" as var;
@use "./../../common/mixins" as mix;

.page-search{
.dropdown{
  width: 100%;
  background: white;
  border-radius: 40px;

  //.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
  //  border-color: white;
  //}

  //border-color: 0 0 0 0.25rem rgb(253, 253, 253);

}

  //.btn:hover {
  //  --bs-btn-active-border-color: 253, 253, 253;
  //}

.dropdown-menu{
  width: 100%;
}

  .dropdown-toggle{
    width: 100%;
    padding: 16px;
    border-radius: 40px;
  }

  .nav-link{
    display: flex;
    align-items: center;
  }

.position-search {
  top: 17px;
  right: 26px;
}

  .form-control{
    width: 100%;
    padding: 16px 70px 16px 16px;
    border-radius: 40px;
  }

}

