@use "./../../common/variables" as var;
@use "./../../common/mixins" as mix;

.page-search{
  .nav-item{
    display: flex;
    padding: 8px 23px 9px 25px;
    border-radius: 40px;
    box-shadow: 0 4px 7px 0 rgb(157 157 157 / 10%);
  }

  .form-control:focus {
    box-shadow: none;
  }

  .nav-link{
    display: flex;
    align-items: center;
  }
}